/* CSS DE LA PAGINA WEB */


/* servicios */
*{
	margin: 0;
	padding: 0;

}

body{
	overflow-x: hidden;
    /*height: 100vh;*/
    width: 100vh;
}

html{
	font-size: 100%;
}


body{
    transition: all .5s ease-in-out;
}	
/* FUENTES */

@font-face {
    font-family: "Helvatica LT ROMAN";
    src: url("../assets/fuentes/helvatica/Helvetica\ LT\ 55\ Roman.ttf");
}

@font-face {
    font-family: "Glitten";
    src: url(../assets/fuentes/Glitten/Glitten-Regular.ttf);
}

@font-face {
    font-family: "Nesans";
    src: url(../assets/fuentes/nesans/Nesans\ Semi\ Bold.ttf);
}

@font-face {
    font-family: "Crystal Noir";
    src: url(../assets/fuentes/crystalNoir/CrystalNoir-Regular.ttf);
}

@font-face {
    font-family: "Gamour";
    src: url(../assets/fuentes/Gamour/Gamour\ Regular.ttf);
}

@font-face {
    font-family: "Louis George Café";
    src: url(../assets/fuentes/LouisGeorgeCafe/Louis\ George\ Cafe\ Light.ttf);
}

/* ESTILOS GENERALES */




body{
    background-color: #eed3df;
    width:  100vw;
    height: auto;
    
}

a{
    text-decoration: none;
    color: #eed3df;
}

main{
    background-color: #ecebe4;
}

ul{
    list-style-type: none;
    position: sticky;
    top: 0;
}

/* ESTILOS GENERALES */

ul li{
    font-family: "Glitten", sans-serif;
}

li:hover{ /* TE HACE COLORCITO EN ITEMS*/
    background-color: #ecebe4;
}


h2 {
    font-family: "Gamour", serif;
    color: #3b3759;
    
}

h3{
    font-family: "Nesans", serif;
    
}



h4{   
    font-family: "Crystal Noir", serif;
    font-size: 4rem;
}




h6{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 0.93rem;
    font-weight: lighter;
    text-align: center;
    margin: auto;
}







/* CLASS */


.buttoncolor{
    background-color: #3b3759;
    color: #eed3df;
}

.h3titulos{
    font-family: "Nesans", serif;
    font-size: 1.875rem;
    font-weight: lighter;
    text-align: center;
    margin: 1.25rem auto;
    padding: 18.75px 25px;
    color: #eed3df;
    background-color: #3b3759;
}

.h3titulos:hover{
    background-color: #a4508b;
    background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
    transition: all 8s;
}

/* ESLOGAN*/

    
    .bgcolor{
        background-color: #f0dde6;
    }


/* BOTONES OPCIONES */


.opButton{
    width: 30%;
    height: 20%;
    margin: auto;
    
}

.imgButton{ 
    width:  20rem;
    height: 12.75rem;
    margin: 0.3rem;
    border-radius: 0.6rem;
    border-style: groove;
}


.imgButton:hover{
    border-color: #306e66;
    scale: 1.05;
    transition: all 0.5s;
}

.opcButtonFlex{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.h4Button{
    font-family: "Crystal Noir", serif;
    font-size: 3rem;
    font-weight: lighter;
    text-align: center;
    margin: auto;
    color: #306e66;
}

/* PRODUCTOS */

.h5producto{
    font-family: Georgia, 'Times New Roman', Times, serif;

}

#producto:hover{
    background-color: lightslategray;
    color: #f0dde6;
    transition: all .5s ease-in-out;
    filter: none;
}