
/***************************
    ESTILOS GENERALES
***************************/


body{
    background-color: $color-tres;
    width:  100vw;
    height: auto;
    
}

a{
    text-decoration: none;
    color: $color-tres;
}

main{
    background-color: $color-bgk;
}

ul{
    list-style-type: none;
    position: sticky;
    top: 0;

    li{
        font-family: "Glitten", sans-serif;

        &:hover{
            background-color: #ecebe4;
        }
    }
}

h1{
    font-family: $font-uno, serif;
    text-decoration: solid;

}

h2 {
    font-family: $font-uno, serif;
    font-size: 1.875rem;
    font-weight: lighter;
    text-align: center;
    
}

h3{
    font-family: $font-dos, serif;
    font-size: 3rem;
}


h4{   
    font-family: $font-tres, 'Times New Roman', Times, serif;
    font-size: 0.93rem;
    font-weight: lighter;
    text-align: center;
    margin: auto;
}


h6{
    font-family:$font-tres, 'Times New Roman', Times, serif;
    font-size: 0.93rem;
    font-weight: lighter;
    text-align: center;
    margin: auto;
}