
/***************
    RESETEO
***************/
*{
	margin: 0;
	padding: 0;

}

body{
	overflow-x: hidden;
    
    width: 100vh;
}

html{
	font-size: 100%;
}


body{
    transition: all .5s ease-in-out;
}