/***************
    TIPOGRAFIAS
***************/

@font-face {
    font-family: "Helvatica LT ROMAN";
    src: url("../assets/fuentes/helvatica/Helvetica\ LT\ 55\ Roman.ttf");
}

@font-face {
    font-family: "Glitten";
    src: url(../assets/fuentes/Glitten/Glitten-Regular.ttf);
}

@font-face {
    font-family: "Nesans";
    src: url(../assets/fuentes/nesans/Nesans\ Semi\ Bold.ttf);
}

@font-face {
    font-family: "Crystal Noir";
    src: url(../assets/fuentes/crystalNoir/CrystalNoir-Regular.ttf);
}

@font-face {
    font-family: "Gamour";
    src: url(../assets/fuentes/Gamour/Gamour\ Regular.ttf);
}

@font-face {
    font-family: "Louis George Café";
    src: url(../assets/fuentes/LouisGeorgeCafe/Louis\ George\ Cafe\ Light.ttf);
}