// VARIABLES GLOBALES 

$color-uno: #306e66; /* VERDE */
$color-dos: #3b3759; /* VIOLETA */
$color-tres: #eed3df; /* ROSITA */
$color-cuatro: #f0dde6; /* ROSITA CLARITO */
$color-bgk: #ecebe4; 


$font-uno: "Nesans" ;
$font-dos: "Crystal Noir" ;
$font-tres: "Georgia";
